
body{
    background-color: #201E1D;
}

.searchbar{

    margin-top: 60px;
    margin-bottom: 50px;
}

input:focus{
    font-weight: bold;
    font-size: 16px;
    box-sizing: boder-box;
    background-color: #eee;
    transition: 0.2s;
}

input:focus .glyphicon{

    background-color:blue;
    transition: 0.2s
}

li{
    border-top: 2px solid #eee;
    border-bottom: 2px solid green;
}
li:hover {

    background-color: #E0E0E0;
    font-size: 10px;
    cursor: pointer;
    transition: 0.2s;
    border: 2px solid lightblue;
}


.title-item{
    padding-top: 30px;
    text-align: center;
    font-family: 'Quattrocento Sans', sans-serif;
    text-shadow: 2px 2px #eee;
}
.video-title
{
    font-family: 'Eater', cursive;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.video-desc
{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20Ppx;
    font-weight: bold;
    text-align: justify;
}